cpl-standalone/build
backends/cpl-odbc/build
test/standalone-test/build
bindings/java/CPLdirect/build
bindings/java/CPL/build
bindings/java/CPL/test.class
bindings/python/CPL/CPL.pyc
bindings/r/*tar.gz
